USE [tramite_documentario]
GO
/****** Object:  Schema [acceso]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [acceso]
GO
/****** Object:  Schema [configuracion]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [configuracion]
GO
/****** Object:  Schema [documento]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [documento]
GO
/****** Object:  Schema [error]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [error]
GO
/****** Object:  Schema [log]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [log]
GO
/****** Object:  Schema [organizacion]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [organizacion]
GO
/****** Object:  Schema [persona]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [persona]
GO
/****** Object:  Schema [rrhh]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [rrhh]

GO
/****** Object:  Schema [ubigeo]    Script Date: 7/09/2023 22:15:45 ******/
CREATE SCHEMA [ubigeo]
GO
/****** Object:  Table [persona].[person_tipo]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[person_tipo](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [persona].[persona_tipo_documento]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[persona_tipo_documento](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NULL,
	[descripcion] [varchar](80) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [persona].[persona_genero]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[persona_genero](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](3) NULL,
	[nombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [persona].[persona]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [persona].[persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_persona_tipo_documento] [smallint] NULL,
	[id_persona_tipo] [smallint] NOT NULL,
	[nro_documento] [varchar](20) NULL,
	[nombre] [varchar](50) NULL,
	[apellido_paterno] [varchar](50) NULL,
	[apellido_materno] [varchar](50) NULL,
	[nombre_completo] [varchar](180) NULL,
	[tipo_sangre] [nvarchar](10) NULL,
	[fecha_nacimiento] [datetime2](6) NOT NULL,
	[id_genero] [smallint] NOT NULL,
	[email] [varchar](150) NULL,
	[celular] [varchar](30) NULL,
	[id_ubigeo] [int] NULL,
	[direccion] [varchar](150) NULL,
	[id_estado] [bit] NOT NULL,
	[usuario_crea] [int] NOT NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Persona]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Persona]
AS

	select 
		t1.id,
		t1.id_persona_tipo_documento,
		t1.id_persona_tipo,
		t1.nro_documento,
		t1.nombre,
		t1.apellido_paterno,
		t1.apellido_materno,
		t1.nombre_completo,
		t1.tipo_sangre,
		t1.fecha_nacimiento,
		t1.id_genero,
		t1.email,
		t1.celular,
		t1.id_ubigeo,
		t1.direccion,
		t1.id_estado,
		CASE WHEN t1.id_estado = 1 THEN 'ACTIVO' ELSE 'INACTIVO' END AS Estado,
		t1.usuario_crea,
		t1.usuario_actualiza,
		t1.fecha_crea,
		t1.fecha_actualiza,
		t2.codigo AS PersonaTipoDocumento,
		t3.descripcion AS PersonaTipo,
		t4.nombre AS Genero
	from 
		persona.persona t1
		INNER JOIN persona.persona_tipo_documento t2
			ON t1.id_persona_tipo_documento = t2.id
		INNER JOIN persona.person_tipo t3
			ON t1.id_persona_tipo = t3.id
		INNER JOIN persona.persona_genero t4
			ON t1.id_genero = t4.id

GO
/****** Object:  Table [acceso].[rol]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acceso].[rol](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NULL,
	[descripcion] [nvarchar](255) NULL,
	[funcion] [nvarchar](max) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [acceso].[usuario]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acceso].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](max) NULL,
	[change_password] [bit] NULL,
	[email] [nvarchar](80) NULL,
	[id_rol] [smallint] NOT NULL,
	[identificador_celular] [varchar](50) NULL,
	[id_estado] [bit] NOT NULL,
	[usuario_crea] [int] NOT NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Usuario]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Usuario]
AS
select 
	u.id,
	u.id_persona,
	u.username,
	u.password,
	u.change_password,
	u.email,
	u.id_rol,
	u.identificador_celular,
	u.id_estado,
	u.usuario_crea,
	u.usuario_actualiza,
	u.fecha_crea,
	u.fecha_actualiza,
	p.nro_documento,
	p.nombre_completo,
	p.celular,
	r.codigo AS rolCodigo,
	r.descripcion AS rolDescripcion
from 
	[acceso].[usuario] u
	INNER JOIN persona.persona p
		ON u.id_persona = p.id
	INNER JOIN acceso.rol r
		ON r.id = u.id_rol
GO
/****** Object:  Table [acceso].[menu]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acceso].[menu](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](200) NULL,
	[icono] [varchar](30) NULL,
	[datatarget] [nvarchar](30) NULL,
	[url] [nvarchar](200) NULL,
	[padre] [int] NOT NULL,
	[id_estado] [bit] NOT NULL,
	[usuario_crea] [int] NOT NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [acceso].[menu_rol]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acceso].[menu_rol](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[id_rol] [smallint] NOT NULL,
	[id_menu] [smallint] NOT NULL,
	[id_status] [bit] NOT NULL,
	[usuario_crea] [int] NOT NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documento_derivaciones]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documento_derivaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_documento] [int] NULL,
	[id_documento_forma_asignacion] [smallint] NULL,
	[fecha_derivacion] [date] NULL,
	[hora_derivacion] [time](7) NULL,
	[id_area] [int] NULL,
	[detalle] [varchar](250) NULL,
	[usuario] [varchar](150) NULL,
	[proveido_atencion] [varchar](100) NULL,
	[id_estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[calificacion_tupa]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[calificacion_tupa](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[id_estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[documento]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_documento] [smallint] NOT NULL,
	[id_prioridad] [smallint] NOT NULL,
	[id_forma_recepcion] [smallint] NOT NULL,
	[nro_documento] [int] NULL,
	[nro_expediente] [int] NULL,
	[fecha_registro] [date] NOT NULL,
	[hora_registro] [time](7) NOT NULL,
	[fecha_documento] [date] NOT NULL,
	[siglas_documento] [varchar](100) NULL,
	[snip] [varchar](50) NULL,
	[asunto] [varchar](200) NULL,
	[origen] [smallint] NOT NULL,
	[id_persona_origen] [int] NULL,
	[id_area_origen] [int] NULL,
	[id_area_asigando] [int] NULL,
	[id_persona_asignada] [int] NULL,
	[detalle] [varchar](max) NULL,
	[firma] [varchar](100) NULL,
	[cargo] [varchar](150) NULL,
	[archivo] [varchar](300) NULL,
	[nro_folios] [int] NULL,
	[dias_atencion] [smallint] NULL,
	[estado] [smallint] NOT NULL,
	[id_usuario_registro] [int] NULL,
	[id_usuario_actualiza] [int] NULL,
	[fecha_hora_actualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [documento].[estado_documento]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[estado_documento](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[id_estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[forma_asignacion]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[forma_asignacion](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[id_estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[forma_recepcion]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[forma_recepcion](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NULL,
	[descripcion] [varchar](50) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[origen]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[origen](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NULL,
	[id_estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[prioridad]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[prioridad](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NULL,
	[descripcion] [varchar](50) NULL,
	[dias_atencion] [smallint] NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [documento].[tipo_documento]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [documento].[tipo_documento](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](5) NULL,
	[descripcion] [varchar](50) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [error].[error]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [error].[error](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NULL,
	[controller] [nvarchar](200) NULL,
	[ip] [nvarchar](100) NULL,
	[method] [nvarchar](20) NULL,
	[user_agent] [nvarchar](150) NULL,
	[host] [nvarchar](max) NULL,
	[class_component] [varchar](100) NULL,
	[function_name] [varchar](100) NULL,
	[line_number] [int] NOT NULL,
	[error] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[status] [smallint] NOT NULL,
	[request] [nvarchar](max) NULL,
	[error_code] [int] NOT NULL,
	[id_persona] [int] NULL,
	[usuario_crea] [int] NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [log].[user_sesion]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [log].[user_sesion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NOT NULL,
	[ip] [nvarchar](max) NULL,
	[browser] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[token_refresh] [nvarchar](max) NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [organizacion].[area]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [organizacion].[area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [organizacion].[cargo]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [organizacion].[cargo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NULL,
	[nombre] [nvarchar](50) NULL,
	[id_estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [organizacion].[organizacion]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [organizacion].[organizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NULL,
	[ruc] [varchar](11) NULL,
	[webpage] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[colaborador]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[colaborador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[id_cargo] [int] NOT NULL,
	[id_area] [int] NOT NULL,
	[id_estado] [bit] NOT NULL,
	[usuario_crea] [int] NOT NULL,
	[usuario_actualiza] [int] NOT NULL,
	[fecha_crea] [datetime2](6) NOT NULL,
	[fecha_actualiza] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ubigeo].[ubigeo]    Script Date: 7/09/2023 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ubigeo].[ubigeo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ubigeo] [varchar](6) NULL,
	[distrito] [varchar](50) NULL,
	[provincia] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[superficie] [varchar](20) NULL,
	[y] [varchar](20) NULL,
	[x] [varchar](20) NULL,
	[ubicacion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [acceso].[menu] ON 

INSERT [acceso].[menu] ([id], [nombre], [descripcion], [icono], [datatarget], [url], [padre], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (1, N'MANTENIMIENTO', N'Mantnimiento', N'fas fa-cogs', N'Mantenimiento', N'', 0, 1, 0, 0, CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2), CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2))
INSERT [acceso].[menu] ([id], [nombre], [descripcion], [icono], [datatarget], [url], [padre], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (2, N'Cargo', N'Mantenimiento de Cargo', N'fas fa-cogs', N'', N'mantenimiento/cargo', 0, 1, 0, 0, CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2), CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2))
INSERT [acceso].[menu] ([id], [nombre], [descripcion], [icono], [datatarget], [url], [padre], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (3, N'Área', N'Mantenimiento de Área', N'fas fa-cogs', N'', N'mantenimiento/area', 0, 1, 0, 0, CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2), CAST(N'2023-03-23T18:41:03.2633330' AS DateTime2))
SET IDENTITY_INSERT [acceso].[menu] OFF
GO
SET IDENTITY_INSERT [acceso].[menu_rol] ON 

INSERT [acceso].[menu_rol] ([id], [id_rol], [id_menu], [id_status], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (1, 1, 1, 0, 0, 0, CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2), CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2))
INSERT [acceso].[menu_rol] ([id], [id_rol], [id_menu], [id_status], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (2, 1, 2, 0, 0, 0, CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2), CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2))
INSERT [acceso].[menu_rol] ([id], [id_rol], [id_menu], [id_status], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (3, 1, 3, 0, 0, 0, CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2), CAST(N'2023-03-23T18:46:32.9700000' AS DateTime2))
SET IDENTITY_INSERT [acceso].[menu_rol] OFF
GO
SET IDENTITY_INSERT [acceso].[rol] ON 

INSERT [acceso].[rol] ([id], [codigo], [descripcion], [funcion], [id_estado]) VALUES (1, N'SADM', N'Super Administrador', N'Encargado de administrar la aplicación', 1)
INSERT [acceso].[rol] ([id], [codigo], [descripcion], [funcion], [id_estado]) VALUES (2, N'PRG', N'PROGRAMADOR', N'ENCARGADO DE DESARROLLO', 1)
INSERT [acceso].[rol] ([id], [codigo], [descripcion], [funcion], [id_estado]) VALUES (5, N'TRB', N'quien trabaja', N'....', 1)
SET IDENTITY_INSERT [acceso].[rol] OFF
GO
SET IDENTITY_INSERT [acceso].[usuario] ON 

INSERT [acceso].[usuario] ([id], [id_persona], [username], [password], [change_password], [email], [id_rol], [identificador_celular], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (1, 1, N'admin', N'9YJN/ui4ixIydpIoOHHGXw==', 1, N'', 1, N'', 1, 0, 0, CAST(N'2023-03-23T18:59:26.1400000' AS DateTime2), CAST(N'2023-03-23T18:59:26.1400000' AS DateTime2))
INSERT [acceso].[usuario] ([id], [id_persona], [username], [password], [change_password], [email], [id_rol], [identificador_celular], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (4, 1007, N'admision01', N'2WqSDPTh40i8IaKKznvqhA==', 1, N'', 6, N'', 1, 1, 1, CAST(N'2023-04-08T22:22:26.1458680' AS DateTime2), CAST(N'2023-04-08T22:22:26.1458690' AS DateTime2))
INSERT [acceso].[usuario] ([id], [id_persona], [username], [password], [change_password], [email], [id_rol], [identificador_celular], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (5, 1009, N'10704351939', N'2WqSDPTh40i8IaKKznvqhA==', 1, N'', 2, N'', 1, 1, 1, CAST(N'2023-04-08T22:23:14.2199730' AS DateTime2), CAST(N'2023-04-08T22:23:14.2199750' AS DateTime2))
SET IDENTITY_INSERT [acceso].[usuario] OFF
GO
SET IDENTITY_INSERT [documento].[calificacion_tupa] ON 

INSERT [documento].[calificacion_tupa] ([id], [descripcion], [id_estado]) VALUES (1, N'Ninguna', 1)
INSERT [documento].[calificacion_tupa] ([id], [descripcion], [id_estado]) VALUES (2, N'Silencio positivo', 1)
INSERT [documento].[calificacion_tupa] ([id], [descripcion], [id_estado]) VALUES (3, N'Silencio negativo', 1)
SET IDENTITY_INSERT [documento].[calificacion_tupa] OFF
GO
SET IDENTITY_INSERT [documento].[estado_documento] ON 

INSERT [documento].[estado_documento] ([id], [descripcion], [id_estado]) VALUES (1, N'Registrado', NULL)
INSERT [documento].[estado_documento] ([id], [descripcion], [id_estado]) VALUES (2, N'Derivado al área unidad organica', NULL)
INSERT [documento].[estado_documento] ([id], [descripcion], [id_estado]) VALUES (3, N'Asignado a un usuario', NULL)
SET IDENTITY_INSERT [documento].[estado_documento] OFF
GO
SET IDENTITY_INSERT [documento].[forma_asignacion] ON 

INSERT [documento].[forma_asignacion] ([id], [descripcion], [id_estado]) VALUES (1, N'Responsable', NULL)
INSERT [documento].[forma_asignacion] ([id], [descripcion], [id_estado]) VALUES (2, N'Copia', NULL)
SET IDENTITY_INSERT [documento].[forma_asignacion] OFF
GO
SET IDENTITY_INSERT [documento].[forma_recepcion] ON 

INSERT [documento].[forma_recepcion] ([id], [codigo], [descripcion], [id_estado]) VALUES (1, N'I', N'CONTROL INTERNO', 1)
INSERT [documento].[forma_recepcion] ([id], [codigo], [descripcion], [id_estado]) VALUES (2, N'D', N'DIRECTA', 1)
INSERT [documento].[forma_recepcion] ([id], [codigo], [descripcion], [id_estado]) VALUES (3, N'F', N'FAX', 1)
SET IDENTITY_INSERT [documento].[forma_recepcion] OFF
GO
SET IDENTITY_INSERT [documento].[origen] ON 

INSERT [documento].[origen] ([id], [descripcion], [id_estado]) VALUES (1, N'Interno', NULL)
INSERT [documento].[origen] ([id], [descripcion], [id_estado]) VALUES (2, N'Externo', NULL)
SET IDENTITY_INSERT [documento].[origen] OFF
GO
SET IDENTITY_INSERT [documento].[prioridad] ON 

INSERT [documento].[prioridad] ([id], [codigo], [descripcion], [dias_atencion], [id_estado]) VALUES (1, N'N', N'NORMAL', 5, 1)
INSERT [documento].[prioridad] ([id], [codigo], [descripcion], [dias_atencion], [id_estado]) VALUES (2, N'U', N'URGENTE', 3, 1)
INSERT [documento].[prioridad] ([id], [codigo], [descripcion], [dias_atencion], [id_estado]) VALUES (3, N'MU', N'MUY URGENTE', 1, 1)
SET IDENTITY_INSERT [documento].[prioridad] OFF
GO
SET IDENTITY_INSERT [documento].[tipo_documento] ON 

INSERT [documento].[tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (1, N'SOL', N'SOLICITUD', 1)
INSERT [documento].[tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (2, N'OFI', N'OFICIO', 1)
INSERT [documento].[tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (3, N'MEN', N'MEMORANDUM', 1)
SET IDENTITY_INSERT [documento].[tipo_documento] OFF
GO
SET IDENTITY_INSERT [error].[error] ON 

INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (4, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'Violation of UNIQUE KEY constraint ''UQ__persona__761A4C46E16F2A6A''. Cannot insert duplicate key in object ''persona.persona''. The duplicate key value is (11111111).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-05T17:54:10.0530480' AS DateTime2), CAST(N'2023-04-05T17:54:10.0531070' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (5, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'Violation of UNIQUE KEY constraint ''UQ__persona__761A4C46E16F2A6A''. Cannot insert duplicate key in object ''persona.persona''. The duplicate key value is (11111111).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-05T18:03:12.5161590' AS DateTime2), CAST(N'2023-04-05T18:03:12.5162220' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (6, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'Violation of UNIQUE KEY constraint ''UQ__persona__761A4C46E16F2A6A''. Cannot insert duplicate key in object ''persona.persona''. The duplicate key value is (11111111).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-05T18:06:43.3190950' AS DateTime2), CAST(N'2023-04-05T18:06:43.3190970' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (7, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'Violation of UNIQUE KEY constraint ''UQ__persona__761A4C46E16F2A6A''. Cannot insert duplicate key in object ''persona.persona''. The duplicate key value is (11111111).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-05T18:06:55.1757880' AS DateTime2), CAST(N'2023-04-05T18:06:55.1757900' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (8, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'Violation of UNIQUE KEY constraint ''UQ__persona__761A4C46E16F2A6A''. Cannot insert duplicate key in object ''persona.persona''. The duplicate key value is (11111111).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-05T18:08:21.2951690' AS DateTime2), CAST(N'2023-04-05T18:08:21.2951720' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10002, N'/api/persona/', N'API.Controllers.PersonaController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.PersonaController', N'Create', 105, N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK__persona__id_pers__76969D2E". The conflict occurred in database "tramite_documentario", table "persona.persona_tipo_documento", column ''id''.', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.PersonaBussnies.Create(PersonaRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\PersonaBussnies.cs:line 28
   at API.Controllers.PersonaController.Create(PersonaRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\PersonaController.cs:line 99', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-08T11:59:20.5933230' AS DateTime2), CAST(N'2023-04-08T11:59:20.5933840' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10003, N'/api/colaborador/', N'API.Controllers.ColaboradorController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.ColaboradorController', N'Create', 125, N'Cannot insert explicit value for identity column in table ''persona'' when IDENTITY_INSERT is set to OFF.', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.ColaboradorBussnies.Create(ColaboradorRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\ColaboradorBussnies.cs:line 30
   at API.Controllers.ColaboradorController.Create(ColaboradorRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\ColaboradorController.cs:line 119', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-08T22:12:18.1342210' AS DateTime2), CAST(N'2023-04-08T22:12:18.1342930' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10004, N'/api/colaborador/', N'API.Controllers.ColaboradorController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.ColaboradorController', N'Create', 125, N'Cannot insert explicit value for identity column in table ''persona'' when IDENTITY_INSERT is set to OFF.', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.ColaboradorBussnies.Create(ColaboradorRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\ColaboradorBussnies.cs:line 30
   at API.Controllers.ColaboradorController.Create(ColaboradorRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\ColaboradorController.cs:line 119', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-08T22:12:33.9425940' AS DateTime2), CAST(N'2023-04-08T22:12:33.9425960' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10005, N'/api/colaborador/', N'API.Controllers.ColaboradorController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.ColaboradorController', N'Create', 125, N'Violation of UNIQUE KEY constraint ''UQ__colabora__228148B1CE93F3E6''. Cannot insert duplicate key in object ''rrhh.colaborador''. The duplicate key value is (5).', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.ColaboradorBussnies.Create(ColaboradorRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\ColaboradorBussnies.cs:line 33
   at API.Controllers.ColaboradorController.Create(ColaboradorRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\ColaboradorController.cs:line 119', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-08T22:18:35.7362540' AS DateTime2), CAST(N'2023-04-08T22:18:35.7363170' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10006, N'/api/colaborador/', N'API.Controllers.ColaboradorController.Create (API)', N'::1', N'POST', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.ColaboradorController', N'Create', 125, N'Violation of UNIQUE KEY constraint ''UQ__usuario__AB6E6164F9B839CD''. Cannot insert duplicate key in object ''acceso.usuario''. The duplicate key value is ().', N'   at Repository.Generic.GenericRepository`1.Create(TEntity entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\Generic\GenericRepository.cs:line 96
   at Bussnies.UsuarioBussnies.Create(UsuarioRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\UsuarioBussnies.cs:line 30
   at Bussnies.ColaboradorBussnies.Create(ColaboradorRequest entity) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\ColaboradorBussnies.cs:line 52
   at API.Controllers.ColaboradorController.Create(ColaboradorRequest request) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\ColaboradorController.cs:line 119', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-08T22:22:09.7706750' AS DateTime2), CAST(N'2023-04-08T22:22:09.7706780' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10007, N'/api/cargo/autocomplete/$$', N'API.Controllers.CargoController.getByAutocomplete (API)', N'::1', N'GET', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'API.Controllers.CargoController', N'getByAutocomplete', 96, N'The LINQ expression ''DbSet<Cargo>()
    .Where(c => string.Format(
        format: "{0} - {1}", 
        arg0: c.Codigo, 
        arg1: c.Nombre).ToLower().Contains(__ToLower_0))'' could not be translated. Additional information: Translation of method ''string.Format'' failed. If this method can be mapped to your custom function, see https://go.microsoft.com/fwlink/?linkid=2132413 for more information. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.', N'   at Repository.CargoRepository.GetAutoComplete(String query) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\CargoRepository.cs:line 29
   at Bussnies.CargoBussnies.getAutoComplete(String query) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Bussnies\CargoBussnies.cs:line 69
   at API.Controllers.CargoController.getByAutocomplete(String query) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\API\Controllers\CargoController.cs:line 91', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-09T14:23:09.7967830' AS DateTime2), CAST(N'2023-04-09T14:23:09.7968460' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (10008, N'/api/rol/autocomplete/$$', N'API.Controllers.RolController.ListByAutoComplete (API)', N'::1', N'GET', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', NULL, N'Repository.RolRepository', N'GetAutoComplete', 29, N'The LINQ expression ''DbSet<Rol>()
    .Where(r => string.Format(
        format: "{0} - {1}", 
        arg0: r.Codigo, 
        arg1: r.Descripcion).ToLower().Contains(__ToLower_0))'' could not be translated. Additional information: Translation of method ''string.Format'' failed. If this method can be mapped to your custom function, see https://go.microsoft.com/fwlink/?linkid=2132413 for more information. Either rewrite the query in a form that can be translated, or switch to client evaluation explicitly by inserting a call to ''AsEnumerable'', ''AsAsyncEnumerable'', ''ToList'', or ''ToListAsync''. See https://go.microsoft.com/fwlink/?linkid=2101038 for more information.', N'   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.<VisitMethodCall>g__CheckTranslated|15_0(ShapedQueryExpression translated, <>c__DisplayClass15_0&)
   at Microsoft.EntityFrameworkCore.Query.QueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.RelationalQueryableMethodTranslatingExpressionVisitor.VisitMethodCall(MethodCallExpression methodCallExpression)
   at Microsoft.EntityFrameworkCore.Query.QueryCompilationContext.CreateQueryExecutor[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Storage.Database.CompileQuery[TResult](Expression query, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](IDatabase database, Expression query, IModel model, Boolean async)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass9_0`1.<Execute>b__0()
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.Execute[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryProvider.Execute[TResult](Expression expression)
   at Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1.GetEnumerator()
   at System.Collections.Generic.List`1..ctor(IEnumerable`1 collection)
   at System.Linq.Enumerable.ToList[TSource](IEnumerable`1 source)
   at Repository.RolRepository.GetAutoComplete(String query) in G:\GHB\TRAMITE_DOCUMENTARIO\BE_TramiteDocumentario\Repository\RolRepository.cs:line 23', 0, N'', 500, NULL, 1, 1, CAST(N'2023-04-09T14:23:42.3939480' AS DateTime2), CAST(N'2023-04-09T14:23:42.3939500' AS DateTime2))
INSERT [error].[error] ([id], [url], [controller], [ip], [method], [user_agent], [host], [class_component], [function_name], [line_number], [error], [StackTrace], [status], [request], [error_code], [id_persona], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (20005, N'api/rolcontroller', N'rolController', N'...', N'GET', N'-----', N'-----', N'ROLCONTROLLER', N'ListarTodo', 56, N'----', N'-----', 1, N'-----', 500, 1, 1, 1, CAST(N'2023-09-05T20:18:31.9028790' AS DateTime2), CAST(N'2023-09-05T20:18:32.3326020' AS DateTime2))
SET IDENTITY_INSERT [error].[error] OFF
GO
SET IDENTITY_INSERT [organizacion].[area] ON 

INSERT [organizacion].[area] ([id], [codigo], [nombre], [id_estado]) VALUES (1, N'ADM', N'Administraciónaaaa', 1)
INSERT [organizacion].[area] ([id], [codigo], [nombre], [id_estado]) VALUES (2, N'EST', N'Estadística', 1)
INSERT [organizacion].[area] ([id], [codigo], [nombre], [id_estado]) VALUES (3, N'ADM1', N'Administración 2', 1)
SET IDENTITY_INSERT [organizacion].[area] OFF
GO
SET IDENTITY_INSERT [organizacion].[cargo] ON 

INSERT [organizacion].[cargo] ([id], [codigo], [nombre], [id_estado]) VALUES (1, N'ADM', N'Administrador', 1)
INSERT [organizacion].[cargo] ([id], [codigo], [nombre], [id_estado]) VALUES (2, N'EST', N'Jefe de sistemas', 1)
INSERT [organizacion].[cargo] ([id], [codigo], [nombre], [id_estado]) VALUES (3, N'JSIS', N'JEFE DE SISTEMAS', 1)
SET IDENTITY_INSERT [organizacion].[cargo] OFF
GO
SET IDENTITY_INSERT [organizacion].[organizacion] ON 

INSERT [organizacion].[organizacion] ([id], [nombre], [ruc], [webpage]) VALUES (1, N'GHB CONSULTORÍA Y SERVICIOS', N'01234567890', N'HTTP: LOCALHOST')
SET IDENTITY_INSERT [organizacion].[organizacion] OFF
GO
SET IDENTITY_INSERT [persona].[person_tipo] ON 

INSERT [persona].[person_tipo] ([id], [descripcion]) VALUES (1, N'Natural')
INSERT [persona].[person_tipo] ([id], [descripcion]) VALUES (2, N'Juridico')
SET IDENTITY_INSERT [persona].[person_tipo] OFF
GO
SET IDENTITY_INSERT [persona].[persona] ON 

INSERT [persona].[persona] ([id], [id_persona_tipo_documento], [id_persona_tipo], [nro_documento], [nombre], [apellido_paterno], [apellido_materno], [nombre_completo], [tipo_sangre], [fecha_nacimiento], [id_genero], [email], [celular], [id_ubigeo], [direccion], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (3, 2, 1, N'111111111', N'sssss', N'sss', N'ssss', N'', N'a+', CAST(N'2023-04-20T22:08:43.0000000' AS DateTime2), 1, N'', N'', 4, N'', 0, 0, 0, CAST(N'2023-04-05T17:11:39.3066670' AS DateTime2), CAST(N'2023-04-05T17:11:39.3066670' AS DateTime2))
SET IDENTITY_INSERT [persona].[persona] OFF
GO
SET IDENTITY_INSERT [persona].[persona_genero] ON 

INSERT [persona].[persona_genero] ([id], [codigo], [nombre]) VALUES (1, N'M', N'Masculino')
INSERT [persona].[persona_genero] ([id], [codigo], [nombre]) VALUES (2, N'F', N'Femenino')
SET IDENTITY_INSERT [persona].[persona_genero] OFF
GO
SET IDENTITY_INSERT [persona].[persona_tipo_documento] ON 

INSERT [persona].[persona_tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (1, N'DNI', N'Documento Nacional de Identidad', 1)
INSERT [persona].[persona_tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (2, N'CE', N'Carné de extranjería', 1)
INSERT [persona].[persona_tipo_documento] ([id], [codigo], [descripcion], [id_estado]) VALUES (3, N'PAS', N'Pasaporte', 1)
SET IDENTITY_INSERT [persona].[persona_tipo_documento] OFF
GO
SET IDENTITY_INSERT [rrhh].[colaborador] ON 

INSERT [rrhh].[colaborador] ([id], [id_persona], [id_cargo], [id_area], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (1, 1, 3, 1, 1, 0, 0, CAST(N'2023-03-23T19:03:07.3800000' AS DateTime2), CAST(N'2023-03-23T19:03:07.3800000' AS DateTime2))
INSERT [rrhh].[colaborador] ([id], [id_persona], [id_cargo], [id_area], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (2, 2, 3, 1, 1, 0, 0, CAST(N'2023-04-09T02:45:51.2210000' AS DateTime2), CAST(N'2023-04-09T02:45:51.2210000' AS DateTime2))
INSERT [rrhh].[colaborador] ([id], [id_persona], [id_cargo], [id_area], [id_estado], [usuario_crea], [usuario_actualiza], [fecha_crea], [fecha_actualiza]) VALUES (6, 5, 3, 2, 1, 0, 0, CAST(N'2023-04-09T03:12:50.4920000' AS DateTime2), CAST(N'2023-04-09T03:12:50.4920000' AS DateTime2))
SET IDENTITY_INSERT [rrhh].[colaborador] OFF
GO
SET IDENTITY_INSERT [ubigeo].[ubigeo] ON 

INSERT [ubigeo].[ubigeo] ([id], [ubigeo], [distrito], [provincia], [departamento], [superficie], [y], [x], [ubicacion]) VALUES (1, N'010101', N'Chachapoyas', N'Chachapoyas', N'Amazonas', N'153.78', N'-6.2294', N'-77.871399999999994', N'Amazonas Chachapoyas Chachapoyas')
INSERT [ubigeo].[ubigeo] ([id], [ubigeo], [distrito], [provincia], [departamento], [superficie], [y], [x], [ubicacion]) VALUES (2, N'010102', N'Asuncion', N'Chachapoyas', N'Amazonas', N'25.710000000000001', N'-6.0316999999999998', N'-77.712199999999996', N'Amazonas Chachapoyas Asuncion')
INSERT [ubigeo].[ubigeo] ([id], [ubigeo], [distrito], [provincia], [departamento], [superficie], [y], [x], [ubicacion]) VALUES (3, N'010103', N'Balsas', N'Chachapoyas', N'Amazonas', N'357.08999999999997', N'-6.8375000000000004', N'-78.0214', N'Amazonas Chachapoyas Balsas')
GO
SET IDENTITY_INSERT [ubigeo].[ubigeo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__persona__761A4C46E16F2A6A]    Script Date: 7/09/2023 22:15:45 ******/
ALTER TABLE [persona].[persona] ADD UNIQUE NONCLUSTERED 
(
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__persona___40F9A206912BB7ED]    Script Date: 7/09/2023 22:15:45 ******/
ALTER TABLE [persona].[persona_tipo_documento] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__colabora__228148B1CE93F3E6]    Script Date: 7/09/2023 22:15:45 ******/
ALTER TABLE [rrhh].[colaborador] ADD UNIQUE NONCLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT ((0)) FOR [padre]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT ((0)) FOR [usuario_crea]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT ((0)) FOR [usuario_actualiza]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [acceso].[menu] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [acceso].[menu_rol] ADD  DEFAULT ((0)) FOR [id_status]
GO
ALTER TABLE [acceso].[menu_rol] ADD  DEFAULT ((0)) FOR [usuario_crea]
GO
ALTER TABLE [acceso].[menu_rol] ADD  DEFAULT ((0)) FOR [usuario_actualiza]
GO
ALTER TABLE [acceso].[menu_rol] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [acceso].[menu_rol] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [acceso].[rol] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT ((0)) FOR [change_password]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT ((0)) FOR [id_estado]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT ((0)) FOR [usuario_crea]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT ((0)) FOR [usuario_actualiza]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [acceso].[usuario] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [dbo].[documento_derivaciones] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[calificacion_tupa] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[documento] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [documento].[documento] ADD  DEFAULT (getdate()) FOR [hora_registro]
GO
ALTER TABLE [documento].[documento] ADD  DEFAULT (getdate()) FOR [fecha_documento]
GO
ALTER TABLE [documento].[documento] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [documento].[documento] ADD  DEFAULT (getdate()) FOR [fecha_hora_actualizacion]
GO
ALTER TABLE [documento].[estado_documento] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[forma_asignacion] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[forma_recepcion] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[origen] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[prioridad] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [documento].[tipo_documento] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [error].[error] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [error].[error] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [organizacion].[area] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [organizacion].[cargo] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [persona].[persona] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [persona].[persona] ADD  DEFAULT ((0)) FOR [usuario_crea]
GO
ALTER TABLE [persona].[persona] ADD  DEFAULT ((0)) FOR [usuario_actualiza]
GO
ALTER TABLE [persona].[persona] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [persona].[persona] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [rrhh].[colaborador] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [rrhh].[colaborador] ADD  DEFAULT ((0)) FOR [usuario_crea]
GO
ALTER TABLE [rrhh].[colaborador] ADD  DEFAULT ((0)) FOR [usuario_actualiza]
GO
ALTER TABLE [rrhh].[colaborador] ADD  DEFAULT (getdate()) FOR [fecha_crea]
GO
ALTER TABLE [rrhh].[colaborador] ADD  DEFAULT (getdate()) FOR [fecha_actualiza]
GO
ALTER TABLE [acceso].[menu_rol]  WITH CHECK ADD FOREIGN KEY([id_menu])
REFERENCES [acceso].[menu] ([id])
GO
ALTER TABLE [acceso].[menu_rol]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [acceso].[rol] ([id])
GO
ALTER TABLE [acceso].[usuario]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [persona].[persona] ([id])
GO
ALTER TABLE [acceso].[usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [acceso].[rol] ([id])
GO
ALTER TABLE [dbo].[documento_derivaciones]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [organizacion].[area] ([id])
GO
ALTER TABLE [dbo].[documento_derivaciones]  WITH CHECK ADD FOREIGN KEY([id_documento])
REFERENCES [documento].[documento] ([id])
GO
ALTER TABLE [dbo].[documento_derivaciones]  WITH CHECK ADD FOREIGN KEY([id_documento_forma_asignacion])
REFERENCES [documento].[forma_asignacion] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([estado])
REFERENCES [documento].[estado_documento] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_area_origen])
REFERENCES [organizacion].[area] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_area_asigando])
REFERENCES [organizacion].[area] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_forma_recepcion])
REFERENCES [documento].[forma_recepcion] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_persona_origen])
REFERENCES [persona].[persona] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_persona_asignada])
REFERENCES [persona].[persona] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_prioridad])
REFERENCES [documento].[prioridad] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_tipo_documento])
REFERENCES [documento].[tipo_documento] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_usuario_registro])
REFERENCES [acceso].[usuario] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([id_usuario_actualiza])
REFERENCES [acceso].[usuario] ([id])
GO
ALTER TABLE [documento].[documento]  WITH CHECK ADD FOREIGN KEY([origen])
REFERENCES [documento].[origen] ([id])
GO
ALTER TABLE [error].[error]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [persona].[persona] ([id])
GO
ALTER TABLE [error].[error]  WITH CHECK ADD FOREIGN KEY([usuario_actualiza])
REFERENCES [acceso].[usuario] ([id])
GO
ALTER TABLE [error].[error]  WITH CHECK ADD FOREIGN KEY([usuario_crea])
REFERENCES [acceso].[usuario] ([id])
GO
ALTER TABLE [log].[user_sesion]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [acceso].[usuario] ([id])
GO
ALTER TABLE [persona].[persona]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [persona].[persona_genero] ([id])
GO
ALTER TABLE [persona].[persona]  WITH CHECK ADD FOREIGN KEY([id_persona_tipo_documento])
REFERENCES [persona].[persona_tipo_documento] ([id])
GO
ALTER TABLE [persona].[persona]  WITH CHECK ADD FOREIGN KEY([id_persona_tipo])
REFERENCES [persona].[person_tipo] ([id])
GO
ALTER TABLE [persona].[persona]  WITH CHECK ADD FOREIGN KEY([id_ubigeo])
REFERENCES [ubigeo].[ubigeo] ([id])
GO
ALTER TABLE [rrhh].[colaborador]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [organizacion].[area] ([id])
GO
ALTER TABLE [rrhh].[colaborador]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [organizacion].[cargo] ([id])
GO
ALTER TABLE [rrhh].[colaborador]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [persona].[persona] ([id])
GO
